

.logo-footer{

    max-width: 50% ;
    max-height: auto ;

}

.title-footer {
    color: gray;
}


.tim {
    background-color: none;
}


.social-media-footer { 
    margin-top: -0.3em;
    margin-left: 0.4em;
    color: gray;

}

.github-logo {
    max-width: 200% ;
    max-height: auto ;
}

h3 {
    color: gray;
}

.copyright {
    margin-left: 11em;
}
