* {
    margin: 0;
    padding: 8px;
}

body {
    background-color: white;
}

.tasks-container {
    background-color: #f0c4a8;
    /* max-width: 60%; */
    /* background-image: url(https://ak1.ostkcdn.com/images/products/is/images/direct/4010ad7fd44a00b963046298bf5f1379671f8eb4/Mint-Wild-Flowers-Removable-Wallpaper.jpg?impolicy=medium); */
    /* background-image: url(https://www.xmple.com/wallpaper/linear-yellow-gradient-orange-1280x720-c2-ffdab9-ff6347-a-30-f-14.svg); */
    background-image: url(https://i.pinimg.com/736x/ec/d6/99/ecd6998075ddc82c5b35f5d76289bcd0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ef7b6c;
}

p {
    color: rgb(44, 44, 44);
}

.center {
    text-align: center;
}

.add-task {
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
}

.add-task::placeholder {
    color: rgb(155, 155, 155);
    font-size: medium;
}

.task-list {
    border-radius: 10px;
    width: 90%;
}

#add-task-btn {
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    width: 40px;
}

input[type="checkbox"] {
    transform: scale(2, 2);
}

input[type="checkbox"]:checked {
    background-color: rgb(90, 168, 149);
    border-color: rgb(90, 168, 149);
}

.task-icon {
    transform: scale(2, 2);
    color: #ef7b6c;
    cursor: pointer;
}

.task {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
}

.gone-tasks {
    max-width: 400px;
    box-sizing: border-box;
}

.gone {
    max-width: 180px;
}

.icons {
    text-align: end;
}

.college {
    max-height: 150px;
}