* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #6d8293;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

header {
  position: relative;
  margin-top: 0;
}

main {
  position: relative;
}

.main-container {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  background-color: #d3f4e7;
  height: 80px;
}

a {
  text-decoration: none;
  color: #6d8293;
}

ul li {
  list-style-type: none;
}

.center {
  text-align: center;
}

.add-task::-webkit-input-placeholder {
  color: #91a0a0;
  font-size: medium;
}

.add-task:-ms-input-placeholder {
  color: #91a0a0;
  font-size: medium;
}

.add-task::-ms-input-placeholder {
  color: #91a0a0;
  font-size: medium;
}

.add-task::placeholder {
  color: #91a0a0;
  font-size: medium;
}

#add-task-btn {
  width: 40px;
}

input[type="checkbox"]:checked {
  background-color: #5aa895;
  border-color: #5aa895;
}

.task-icon {
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2);
  color: #6d8293;
  cursor: pointer;
}

.gone-tasks {
  max-width: 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gone {
  max-width: 180px;
}

.icons {
  text-align: end;
}

.college {
  max-height: 80px;
  width: auto;
}

.bg-lighter {
  background-color: white;
}

.bg-darker {
  background-color: #d3f4e7;
}

#list-title {
  padding: 3% 0;
}

.add-task-box {
  padding: 20%;
}

.box-sizing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.li-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: rap;
  flex-wrap: rap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.li-item-done {
  padding-left: 0;
}

.li-item-deleted {
  text-decoration: line-through;
}

.restore {
  cursor: pointer;
}

.sign-border {
  border: 1px solid #6d8293;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.block-links {
  display: block;
}

.unused-shit {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fa-trash {
  cursor: pointer;
}

.fa-edit {
  cursor: pointer;
  padding-right: 1.5rem;
}

.content-done {
  width: 200 px;
}
/*# sourceMappingURL=style.css.map */